:host{
    display: block;
    height: 100vh;
}

.contactWrapper {
	height: 700px;
	margin: 0 auto;
  
  }
  
  .holdTheCards {
	display: grid;
	grid-template-columns: 40% 40%;
	grid-gap: 10%;
	padding: 10%;
  
  }
  
  .contactInfo {
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 49px;
	mix-blend-mode: overlay;
	background: linear-gradient(179.9deg, rgba(103, 39, 140, 0.44) -8.7%, rgba(255, 255, 255, 0) 99.67%), rgba(66, 25, 90, 0.02);
	box-shadow: 12px 0p 22px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 12% 0 12% 5%;
  }
  
  .contactInfo span {
	text-align: center;
  }
  