<div class="abtWrapper">
    <div class="waterMark">ABOUT</div>
  <div class="abtContent">
    <p>Biologist, Front-end Developer and Graphic Designer.</p>
    <p> I am driven by creating technology solutions that, besides solving problems, can be aesthetically pleasing and delivers an optimal user experience. </p>
    <p>My interest in analytical thinking have set me in my search until finding in programming, my purpose. I believe that technology may well be used as a vital tool for cultivating the positive side of humanity, would be ideal to dedicate my skills and potential towards that objective.</p>
  </div>
</div>