<div class="branding">
    <div class="brandImg">
      <img src="../../../assets/img/NigmaSilmi_1-11.svg" alt="Nigma Silmi Logo">
    </div>
    <div class="brandHeading">
      <div class="brandText">
        <h3>Nigma Silmi</h3>
        <h4>Front-end Developer</h4>
      </div>
      <div class="icons">
        <a href="https://github.com/nigmasilmi" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/nigmasilmi/" target="_blank"><i class="fab fa-linkedin-in fa-2x"></i></a>
        <a href="https://www.behance.net/nigmasilmi" target="_blank"><i class="fab fa-behance fa-2x"></i></a>
        <a href="../../../assets/docs/NigmaSilmi_Dec2019.pdf" target="_blank"><i class="far fa-file fa-2x"></i></a>
      </div>
    </div>
  </div>

