nav {
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 8%;
  flex-wrap: wrap;
}

.navBar {
  margin-top: 5%;
  position: fixed;
  margin-left: 42%;
  align-self: center;
  opacity: 0.3;
  z-index: 5;
}

.navBar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navBar ul li {
  font-family: Cabin;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 5%;

}

/* UP TO 365px */
@media (max-width: 365px) {

  .navBar {
    margin-top: 35%;
    margin-left: 0;
    align-self: center;
    flex-direction: column;
    opacity: 0.3;
    z-index: 5;
  }


  .navBar ul li {
    font-size: 14px;
    line-height: 30px;
    margin-right: 5%;

  }

}

/* FROM 366 TO 575 px */
@media (min-width: 366px) and (max-width: 575px) {

  .navBar {
    margin-top: 35%;
    margin-left: -0.2em;
    align-self: center;
    flex-direction: column;
    opacity: 0.3;
    z-index: 5;
  }


  .navBar ul li {
    font-size: 17px;
    line-height: 30px;
    margin-right: 5%;

  }

}

 /*** FROM 576px ***/

 @media (min-width: 576px) and (max-width: 769px) {

  .navBar {
    margin-top: 16%;
    margin-left: 6em;
    align-self: center;
    flex-direction: column;
    opacity: 0.3;
    z-index: 5;
  }


  .navBar ul li {
    font-size: 21px;
    line-height: 30px;
    margin-right: 5%;

  }
 }

/* FROM 770px to 1200 px */

@media (min-width: 770px) and (max-width: 1200px) {

  .navBar {
    margin-top: 10%;
    margin-left: 21em;
    align-self: center;
    opacity: 0.3;
    z-index: 5;
  }


  .navBar ul li {
    font-size: 18px;
    line-height: 30px;
    margin-right: 5%;

  }



}