<nav>
  
  <div class="navBar">
    <input type="checkbox" id="toggler" class="togglerClass">
    <div class="hamburger">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
    </div>
    <ul>
      <li><a routerLink="/" fragment="start">Home</a></li>
      <li><a routerLink="/" fragment="about">About</a></li>
      <li><a routerLink="/" fragment="projects">Projects</a></li>
      <li><a routerLink="/" fragment="skills">Skills</a></li>
      <!-- <li><a routerLink="/" fragment="endurance">Endurance</a><img src="./../../../assets/img/curlyRight-06.svg" alt="Decorator"></li> -->
      <li><a routerLink="/" fragment="contact">Contact</a></li>
    </ul>
 </div>
</nav>