
<!-- <div data-aos="fade-up" class="temporal">
<div *ngFor="let project of theProjects; let i=index" [ngClass]="setPrjClass(i)">
  <div *ngIf="i < 3">
    <mat-spinner class="spinners" *ngIf="showSpinner"></mat-spinner>
  </div>
</div>
</div> -->

<div data-aos="fade-up" class="temporal">
  <div *ngFor="let project of theProjects; let i=index">
    <!-- <div *ngIf="i < 3 && !showSpinner" [ngClass]="setPrjClass(i)"> -->
      <div data-aos="zoom-in" *ngIf="i < 3" [ngClass]="setPrjClass(i)">
      <div class="projectMagazine">
        <div class="projectCover">
          <img src="{{project.payload.doc.data().coverSrc}}" alt="{{project.payload.doc.data().name}}">
        </div>
        <div class="projectName">{{project.payload.doc.data().name}}</div>
        <!-- <div class="projectSyn">{{project.payload.doc.data().synthesis}}</div> -->
      </div>
      <div class="projectLinks">
        <a class="projectRepo" href="{{project.payload.doc.data().repo}}"><i class="fab fa-github"></i></a>
        <a class="projectDeploy" href="{{project.payload.doc.data().deploy}}"><i class="fas fa-desktop"></i></a>
      </div>


    </div>

  </div>

  <i (click)="nextBatch(3)" class="fas fa-angle-double-right"></i>
</div>