<router-outlet></router-outlet>
<app-navbar></app-navbar>

 <!-- Setting high to allow scrolling with transparent elements and inpage-links  -->
<div class="footsteps">
    <img src="./../assets/img/footsteps1-05.png" alt="Footsteps">
</div>
<!--
<div id="projectsId">
  <app-projects></app-projects>
</div>

<div id="skillsId">
  <app-skills></app-skills>
</div>

<div id="sandBoxId">
  <app-sandbox></app-sandbox>
</div>

<div id="enduranceId">
  <app-endurance></app-endurance>
</div>

<div id="contactId">
  <app-contact></app-contact>
</div>
-->