<div class="skillsContainer">
  <div data-aos="fade-left" class="subSkContainer">
    <h3>Programming Languages</h3>
    <ul>
      <li><img class="skLogos" src="./../../../assets/img/Unofficial_JavaScript_logo_2.svg" alt="JavaScript Logo"></li>
      <li><img class="skLogos" src="./../../../assets/img/typescript-seeklogo.com.svg" alt="TypeScript Logo"></li>
      <li><img class="skLogos" src="./../../../assets/img/python-logo-generic.svg" alt="Python Logo"></li>
      <li><img class="skLogos" src="./../../../assets/img/java-seeklogo.com.svg" alt="Java Logo"></li>
    </ul>
  </div>
  <div data-aos="fade-down-right" class="subSkContainer">
    <h3>Frameworks</h3>
    <ul>
      <li><img class="skLogos" src="./../../../assets/img/angular.svg" alt="Angular Logo"></li>
      <li><img class="skLogos" src="./../../../assets/img/django-logo-negative.svg" alt="Django Logo"></li>
      <li><img class="skLogos" src="./../../../assets/img/Flask_logo.svg" alt="Flask Logo"></li>
      <li><img class="skLogos" src="./../../../assets/img/Bootstrap.svg" alt="Bootstrap Logo"></li>
    </ul>
  </div>
  <div data-aos="fade-up-left" class="subSkContainer">
    <h3>Graphic Design Software</h3>
    <ul>
      <li><img class="skLogos" src="./../../../assets/img/Adobe_Illustrator_CC_icon.svg" alt="Adobe Illustrator Logo">
      </li>
      <li><img class="skLogos" src="./../../../assets/img/Adobe_Photoshop_CC_icon.svg" alt="Adobe Photoshop Logo"></li>
    </ul>
  </div>

  <div data-aos="fade-down-right" class="subSkContainer">
    <h3>Prototyping Software</h3>
    <ul>
      <li><img class="skLogos" src="./../../../assets/img/Adobe_XD_CC_icon.svg" alt="Adobe XD Logo"></li>
      <li><img class="skLogos" src="./../../../assets/img/Figma.logo.svg" alt="Figma Logo"></li>
    </ul>
  </div>

  <div class="subSkContainer">
    <h3>FX, animation and 3D software</h3>
    <ul>
      <li><img class="skLogos" src="./../../../assets/img/Adobe_After_Effects_CC_icon.svg"
          alt="Adobe After Effects Logo">
      </li>
      <li><img class="skLogos" src="./../../../assets/img/blender_logo_socket.svg" alt="Blender 3D Logo"></li>
      <li><img class="skLogos" src="./../../../assets/img/Toon_boom_logo_2017.svg" alt="Toon Boom Logo"></li>
    </ul>
  </div>
</div>