:host {
  display: block;
  height: 100vh;
}

.skillsContainer {
  background: #17091F;

}

.skillset {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 3%;

}


.subSkContainer {
  background: rgba(66, 25, 90, 0.2);
  background: linear-gradient(179.3deg, rgba(66, 25, 90, 0.2) 56.68%, rgba(255, 255, 255, 0) 98.84%), rgba(66, 25, 90, 0.02);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 2%;
  margin-right: 1%;

}

.subSkContainer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.subSkContainer li {
  display: inline-block;
  text-align: center;
}

.subSkContainer h3 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-left: 5%;
  margin-bottom: 2%;

}

.skLogos {
  max-width: 100%;
}

/* UP TO 365px */
@media (max-width: 365px) {

  :host {
    display: block;
    height: 100vh;
  }

  .skillsContainer {
    margin-top: 100%;
  }

  .skillset {
    display: flex;
    flex-direction: column;
  }

  .subSkContainer {
    margin-top: 7%;
  }

  .projectLinks {
    margin: -2em 0em 1em -2em;
  }

}

/* FROM 366 TO 575 px */
@media (min-width: 366px) and (max-width: 575px) {
  .skillsContainer {
    margin-top: 62%;
  }

  .skillset {
    display: flex;
    flex-direction: column;
  }

  .subSkContainer {
    margin-top: 7%;
  }
}

/*** FROM 576px ***/

@media (min-width: 576px) and (max-width: 769px) {

  .skillset {
    display: flex;
    flex-direction: column;
  }

  .subSkContainer {
    margin-top: 7%;
  }
}

/* FROM 770px to 1200 px */

@media (min-width: 770px) and (max-width: 1200px) {

  .skillset {
    display: flex;
    flex-direction: column;
  }

  .subSkContainer {
    margin-top: 7%;
  }


}