<div class="skillsContainer">
  <div class="waterMark">SKILLS</div>
  <div class="skillset">
    <div data-aos="fade-left" class="subSkContainer">
      <ul>
        <li><img class="skLogos" src="./../../../assets/img/js.png" alt="JavaScript Logo"></li>
        <li><img class="skLogos" src="./../../../assets/img/ts.png" alt="TypeScript Logo"></li>
        <li><img class="skLogos" src="./../../../assets/img/python.png" alt="Python Logo"></li>
        <li><img class="skLogos" src="./../../../assets/img/java.png" alt="Java Logo"></li>
      </ul>
      <h3>Programming Languages</h3>
    </div>
    <div data-aos="fade-down-right" class="subSkContainer">

      <ul>
        <li><img class="skLogos" src="./../../../assets/img/angular.png" alt="Angular Logo"></li>
        <li><img class="skLogos" src="./../../../assets/img/django.png" alt="Django Logo"></li>
        <li><img class="skLogos" src="./../../../assets/img/flask.png" alt="Flask Logo"></li>
        <li><img class="skLogos" src="./../../../assets/img/bootstrap.png" alt="Bootstrap Logo"></li>
      </ul>
      <h3>Frameworks</h3>
    </div>
    <div data-aos="fade-up-left" class="subSkContainer">
      <ul>
        <li><img class="skLogos" src="../../../assets/img/illustrator.png" alt="Adobe Illustrator Logo">
        </li>
        <li><img class="skLogos" src="../../../assets/img/photoshop.png" alt="Adobe Photoshop Logo"></li>
      </ul>
      <h3>Graphic Design Software</h3>
    </div>

    <div data-aos="fade-down-right" class="subSkContainer">
      <ul>
        <li><img class="skLogos" src="./../../../assets/img/xd.png" alt="Adobe XD Logo"></li>
        <li><img class="skLogos" src="./../../../assets/img/figma.png" alt="Figma Logo"></li>
      </ul>
      <h3>Prototyping Software</h3>
    </div>

    <div data-aos="fade-up-left" class="subSkContainer">
      <ul>
        <li><img class="skLogos" src="./../../../assets/img/after.png" alt="Adobe After Effects Logo">
        </li>
        <li><img class="skLogos" src="./../../../assets/img/blender.png" alt="Blender 3D Logo"></li>
        <li><img class="skLogos" src="./../../../assets/img/toonBoon.png" alt="Toon Boom Logo"></li>
      </ul>
      <h3>FX, animation and 3D software</h3>
    </div>
  </div>
</div>