/* CSS RESET */


nav ul, ul {
  list-style: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: white;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}




/* GENERAL */

html,
body {
  height: 100%;
}

body {
  font-family: 'Cabin', sans-serif !important;
  color: white;
  background-color: black;
}

.mainSection {
  width: 100%;
  border-bottom: 3px solid #FF5714;
}

.footsteps {
  z-index: -2;
  opacity: 0.1;
  position: absolute;
  top: -45%;
  left: -1%
}

.temporal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 80%;
  margin-top: 2%;

}

.fa-sort-up,
.fa-angle-double-right {
  display: block;
  font-size: 3em;
  color: #FF5714;

}

.fa-angle-double-right {
  margin-right: -20%;
  position: relative;
  bottom: -70%;
  right: 13%;

}

.fa-sort-up {
  position: relative;
  bottom: -10%;
  left: 95%;
}


/* CANVAS */



/* NAVBAR */
nav {
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 8%;
  flex-wrap: wrap;
}

.navBar {
  margin-left: 30%;
  align-self: center;
}

.navBar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navBar ul li {
  font-size: 1.3em;
  list-style: none;
  display: flex;
  align-items: center;

}


.logoIndeed {
  width: 60%;
  margin-left: 30%;

}

/* SPINNER */
mat-spinner {
  display: block;
}
.spinners{
  padding: 4%;
  margin: 0 auto;
}

/* PROJECTS */

/* .projectsContainer {
  height: 300px;
} */

.prMid,
.prLeft,
.prRight {
  color: white !important;
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  align-items: center;
  box-sizing: border-box;
  /* height: 300px; */
}

.prMid {
  margin-left: 100%;
}


.prLeft {
  margin-left: 9%;
  margin-bottom: -12%;
}


.prRight {
  margin-left: 60%;
}


.projectMagazine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: border-box;

}

.projectCover {
  display: flex;
  margin-left: 30%;
  margin-right: 8%;
}

.projectCover img {
  /* max-width: 60%; */
  margin: 0 auto;
  z-index: -2;
}

.projectName {
  font-size: 1.7em;
  color:
    whitesmoke;
  transform: translateY(-140%);
  border-bottom: 4px solid #FF5714;
  position: relative;
  font-weight: bold;
  text-shadow:
    #3a3a3a 3px 2px 2px, 7px 2px 2px rgba(206, 89, 55, 0);
  padding-bottom: 2%;
  width: 60%;
}


.projectLinks {
  display: flex;
  flex-direction: column;
}

.projectRepo i,
.projectDeploy i {
  font-size: 3em;
  margin-bottom: 30%;
  color: whitesmoke;
  text-shadow: #3a3a3a 3px 2px 2px, 7px 2px 2px rgba(206, 89, 55, 0);

}

/* SKILLS */
.skillsContainer{
  padding-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.subSkContainer ul{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: nowrap;
}

.subSkContainer li {
  display: inline-block;
  text-align: center;
}

 .skLogos{
  max-width: 50%;
} 

/**** MEDIA QUERIES ****/

/*** UP TO 575px ***/

@media (max-width: 575px) {

  /* NAVBAR max-width: 575px */
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1%;
  }

  .navBar {
    margin-left: 0;
  }

  .navBar ul {
    flex-direction: column;

  }

  .brand {
    margin-left: 6%;
  }

  .footsteps {
    display: none;
  }


  /* PROJECTS max-width: 575px */
  .projectCover {
    margin: 0;

  }

  .projectCover img {
    max-width: 90%;

  }

  .projectName {
    font-size: 1.3em;
    transform: translateY(20%);
  }

  .projectRepo i,
  .projectDeploy i {
    font-size: 2.5em;
    margin-bottom: 100%;
  }

}


/*** FROM 576px ***/

@media (min-width: 576px) and (max-width: 765px) {

  /* NAVBAR min-width: 575px */
  nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-left: 0;
  }

  .navBar {
    margin-left: 0;
  }

  .navBar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 30%;

  }

  /* GENERAL min-width: 575px */

  .footsteps {
    display: none;
  }

  /* PROJECTS min-width: 575px */

}
