/* CSS RESET */


nav ul,
ul {
  list-style: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: white;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}




/* GENERAL */

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Cabin', sans-serif !important;
  color: white;
  background: #250F33
}

/* .mainSection {
 margin-top: 20%;
}  */



.temporal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 80%;
  margin-top: 2%;

}

.fa-sort-up,
.fa-angle-double-right {
  display: block;
  font-size: 3em;
  color: #FF5714;

}

.fa-angle-double-right {
  margin-right: -20%;
  position: relative;
  bottom: -70%;
  right: 13%;

}

.fa-sort-up {
  position: relative;
  bottom: -10%;
  left: 95%;
}


/* CANVAS */



/* NAVBAR */
nav {
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 8%;
  flex-wrap: wrap;
}

.navBar {
  margin-top: 5%;
  position: fixed;
  margin-left: 35%;
  align-self: center;
  opacity: 0.3;
  z-index: 5;
}

.navBar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navBar ul li {
  font-family: Cabin;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 5%;

}

/* BRANDING */
.branding {
  display: grid;
  height: 700px;
  grid-template-columns: 30% 70%;
  width: 44%;
  margin-top: 50%;
  margin-left: 10%;

}

.brandImg {
  margin-left: 20%;
}

.brandImg img {
  width: 105%;
}

.brandHeading {
  display: flex;
  flex-direction: column;
}

.brandText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.brandText>h3 {
  font-size: 3.5em;
  line-height: 74px;
  font-weight: normal;
  margin: 3% 0% -3% 5%;
}

.brandText>h4 {
  font-size: 2em;
  line-height: 46px;
  margin: 0% 4% 0% 0%;
  color: #F74D4D;
  font-weight: normal;
  word-spacing: 0.05em;
  letter-spacing: 0.03em;
}

.icons {
  display: grid;
  grid-template-columns: repeat(4, 18%);
  margin-left: 31%;
}

/* WATERMARK */
.waterMark {
  margin-left: 4%;
  font-style: normal;
  font-weight: normal;
  font-size: 5em;
  line-height: 122px;
  color: rgba(255, 255, 255, 0.03);

}

/* ABOUT */

.abtWrapper {
  background: #1B0B25;
}

.abtContent {
  margin-top: -16%;
  padding: 20%;
  font-weight: normal;
  font-size: 21px;
  line-height: 26px;
  text-align: right;
  margin-right: -12%;
  color: #FFFFFF;
}

/* PROJECTS */

.prjsWrapper {
  background: #1E0C28;
  padding: 3%;

}

.prMid,
.prLeft,
.prRight {
  color: white !important;
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  align-items: center;
  box-sizing: border-box;
  /* height: 300px; */
}

.prMid {
  margin-left: 100%;
}


.prLeft {
  margin-left: 9%;
  margin-bottom: -12%;
}


.prRight {
  margin-left: 60%;
}


.projectMagazine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: border-box;

}

.projectCover {
  display: flex;
  margin-left: 30%;
  margin-right: 8%;
}

.projectCover img {
  margin: 0 auto;
  z-index: -2;
}

.projectName {
  font-size: 1.7em;
  color:
    whitesmoke;
  transform: translateY(-140%);
  border-bottom: 4px solid #FF5714;
  position: relative;
  font-weight: bold;
  text-shadow:
    #3a3a3a 3px 2px 2px, 7px 2px 2px rgba(206, 89, 55, 0);
  padding-bottom: 2%;
  width: 60%;
}


.projectLinks {
  display: flex;
  flex-direction: column;
}

.projectRepo i,
.projectDeploy i {
  font-size: 3em;
  margin-bottom: 30%;
  color: whitesmoke;
  text-shadow: #3a3a3a 3px 2px 2px, 7px 2px 2px rgba(206, 89, 55, 0);

}

/* SKILLS */
.skillsContainer {
  background: #17091F;

}

.skillset {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 3%;

}

.placeHolder {
  height: 100vh;
}

.subSkContainer {
  background: linear-gradient(179.3deg, rgba(66, 25, 90, 0.2) 56.68%, rgba(255, 255, 255, 0) 98.84%), rgba(66, 25, 90, 0.02);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.subSkContainer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.subSkContainer li {
  display: inline-block;
  text-align: center;
}

.subSkContainer h3 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-left: 5%;

}

.skLogos {
  max-width: 100%;
}

/* CONTACT */

.contactWrapper {
  height: 700px;
  margin: 0 auto;

}

.holdTheCards {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-gap: 10%;
  padding: 10%;

}

.contactInfo {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 49px;
  mix-blend-mode: overlay;
  background: linear-gradient(179.9deg, rgba(103, 39, 140, 0.44) -8.7%, rgba(255, 255, 255, 0) 99.67%), rgba(66, 25, 90, 0.02);
  box-shadow: 12px 0px 22px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 12% 0% 12% 5%;
}

.contactInfo span {
  text-align: center;
}

/**** MEDIA QUERIES ****/

/*** UP TO 575px ***/

@media (max-width: 575px) {

  /* NAVBAR max-width: 575px */
  .navBar {
    margin-left: 0;
  }

  .navBar ul {
    margin-left: -16%;
    margin-top: 12%;
  }

  .navBar ul li {
    font-size: 14px;
  }

  .brandText > h3 {
    font-size: 1.3em;
    line-height: 31px;
    margin: 3% 0% -3% 3%;
  }

  .brandText > h4{
    font-size: 1.1em;
    line-height: 18px;
  }

}


/* PROJECTS max-width: 575px */




/*** FROM 576px ***/

@media (min-width: 576px) and (max-width: 765px) {

  /* NAVBAR min-width: 575px */


  /* GENERAL min-width: 575px */



  /* PROJECTS min-width: 575px */

}
